@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.pagination-container {
    margin-top: 1em;
    padding-top: 2em;
    border-top: 1px solid #d7dadb;
    text-align: center;
}

.pagination-item {
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #d7dadb;
    transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
}

.pagination-item:hover,
.pagination-item.is-active {
    background-color: #75444A;
    opacity: 0.8;
    border-right: 1px solid #fff;
}
.pagination-item:hover .pagination-link,
.pagination-item.is-active .pagination-link {
    color: #fff;
}

.pagination-item.first-number {
    border-left: 1px solid #d7dadb;
}

.pagination-link {
    padding: 1.1em 1.6em;
    display: inline-block;
    text-decoration: none;
    color: #8b969c;
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
}

.pagination-item--wide {
    list-style-type: none;
    display: flex;
}

.pagination-item--wide.first {
    margin: 0 1em 0 0;
}

.pagination-item--wide.last {
    margin: 0 0 0 1em;
}

.pagination-link--wide {
    text-decoration: none;
    color: #8b969c;
    padding: 1.1em 1.9em;
}

.pagination-link--wide:hover {
    color: #75444A;
    opacity: 0.8;
}

.pagination-link--wide.first:before,
.pagination-link--wide.last:after {
    font-family: "entypo";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.image-container {
    position: relative;
    display: flex;
}

.image-container img {
    display: block;
    width: 100%;
}

.icon-and-nickname {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    /* 필요에 따라 간격 조정 */
}

.bi-person-circle {
    font-size: 24px; /* 아이콘 크기 조절 */
    /* 아이콘 스타일링 */
    color: #d7dadb;
    margin-top: -5px;
}

.review-nickname {
    margin-left: 8px; /* 아이콘과의 간격 */
    font-size: 16px;
    color: #d7dadb;
    /* 닉네임 스타일링 */
    margin-top: 2px;
}