@import url(board_free_write.css);
.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

/* 버튼 스타일을 기존 a 태그에서 input 타입으로 변경합니다 */
.bt_wrap input[type="submit"],
.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin: 10px 5px; /* 좌우 마진을 줄여서 버튼 간격 조정 */
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    text-align: center; /* 텍스트 중앙 정렬 추가 */
    background: #000;
    color: #fff;
}

/* 등록 버튼 스타일 변경 */
.bt_wrap input[type="submit"] {
    background: #A52A2A; /* 검은색에서 갈색으로 변경 */
    color: #fff; /* 텍스트 색상을 흰색으로 유지 */
}

.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
}

.board_write .title dl,
.board_write .info dl {
    font-size: 0;
}

.board_write .info dl {
    width: 100%; /* 한 줄로 표시 */
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    padding: 15px;
    display: flex; /* flexbox를 사용하여 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
    margin-right: 10px; /* 라벨과 입력 필드 사이 간격 조정 */
}

.board_write .title dd {
    width: calc(100% - 120px); /* 입력 필드 너비를 라벨 너비와 패딩을 고려하여 조정 */
}

.board_write .info dd {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */

}

/* 입력 필드 스타일 변경 */
.board_write .title input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    width: 100%; /* 입력 필드 너비를 100%로 설정 */
    margin-bottom: 10px; /* 입력 필드 하단 마진 추가 */
}

.board_write .info input[type="file"] {
    box-sizing: border-box;
    width: 100%; /* 파일 입력 필드 너비를 100%로 설정 */
    margin-bottom: 10px; /* 파일 입력 필드 하단 마진 추가 */
    padding: 10px; /* 파일 입력 필드 내부 패딩 추가 */
    line-height: normal; /* 파일 입력 필드 높이 조정 */
}
.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}