body * {
       font-family: 'Orbit';
   }
   
   div.courseadd_app {
       margin: 15px;
       padding: 0 200px;
   }
   
   div.courseadd_innerheader span.courseadd_title {
       font-size: 30px;
       font-weight: bold;
   }
   
   div.courseadd_innerheader button.courseadd_prevbtn {
       background-color: #ccc;
       color: white;
       padding: 5px;
       border: none;
       float: right;
       margin-right: 30px;
       position: relative;
       top: 6px;
   }
   
   div.courseadd_formdiv {
       /*
       display: flex;
       justify-content: center;
       */
   }
   
   div.courseadd_formdiv form.courseadd_form table.courseadd_table {
       margin: 35px 0px;
       width: 100%;
   }
   
   table.courseadd_table td {
       padding: 10px;
   }
   
   input.courseadd_textinput, form.courseadd_form textarea {
       border: none;
       background-color: #d9d9d9;
   }
   
   div.courseadd_routes {
       display: flex;
       align-items: center;
       margin: 30px 0px;
   }
   
   div.courseadd_routes div.courseadd_routeplace {
       width: 160px;
       height: 250px;
       position: relative;
       top: 22px;
   }
   
   div.courseadd_routes div.courseadd_routeplace.courseadd_enabled {
       cursor: pointer;
   }
   
   div.courseadd_routes div.courseadd_routeplace div.courseadd_routephoto {
       width: 150px;
       height: 150px;
       background-color: #d9d9d9;
       border-radius: 5px;
   }
   
   div.courseadd_routes div.courseadd_routeplace div.courseadd_routephoto>img {
       width: 100%;
       height: 100%;
       border-radius: 5px;
       object-fit: cover;
   }
   
   div.courseadd_routes div.courseadd_routeplace>h5 {
       text-align: center;
   }
   
   div.courseadd_routes div.courseadd_routeplace.courseadd_enabled>img.courseadd_remove {
       width: 150px;
       height: 150px;
       border-radius: 5px;
       opacity: 0.5;
       position: absolute;
       display: none;

   }
   
   div.courseadd_routes>img.courseadd_arrow {
       position: relative;
       top: -25px;
   }
   
   div.courseadd_routes div.courseadd_routeplace div.courseadd_tag {
       color: white;
       height: 30px;
       padding: 5px;
       display: flex;
       align-items: center;
       border-radius: 30px;
       text-align: center;
       position: absolute;
       top: 5px;
       left: 5px;
   }
   
   /* 카테고리별 태그 색깔 */
   div.courseadd_tag.course_tourspot {
       background-color: #ff6888;
   }
   div.courseadd_tag.course_culture {
       background-color: #b964f7;
   }
   div.courseadd_tag.course_festival {
       background-color: #58a8ff;
   }
   div.courseadd_tag.course_cafeteria {
       background-color: #fbad00;
   }
   
   div.courseadd_app button.courseadd_general_brownbtn {
       border: none;
       background-color: #bf5b4b;
       color: white;
       width: 240px;
       height: 40px;
       border-radius: 40px;
       font-size: 20px;
       margin: 15px 0px;
   }
   
   div.courseadd_app button.courseadd_selectablebtn {
       border: 2px solid #d9d9d9;
       background-color: transparent;
       padding: 5px 25px;
       border-radius: 30px;
       font-weight: bold;
   }
   
   div.courseadd_app button.courseadd_selectablebtn.courseadd_selected {
       border: 2px solid #d7897e;
   }
   
   table.courseadd_table button.courseadd_distcalbtn {
       border: 2px solid #ca8462;
       background-color: transparent;
       width: 120px;
       height: 30px;
       border-radius: 30px;
       font-weight: bold;
       margin: 0px 24px;
   }
   
   table.courseadd_searchquery td {
       padding: 15px;
   }
   
   table.courseadd_searchquery {
       width: 800px;
   }
   
   div.courseadd_search div.courseadd_searchdiv {
       display: flex;
       justify-content: center;
   }
   
   div.courseadd_searchresultdiv {
       height: 485px;
       display: flex;
       flex-wrap: wrap;
       overflow-y: auto;
   }
   
   div.courseadd_searchresultdiv>figure {
       margin: 15px;
       padding: 10px;
       width: 180px;
       cursor: pointer;
   }
   
   div.courseadd_searchresultdiv>figure:hover {
       background-color: #d9d9d9;
   }
   
   div.courseadd_searchresultdiv>figure.courseadd_selected {
       background-color: #cc9e89;
   }
   
   div.courseadd_searchresultdiv>figure>img {
       width: 100%;
       height: 150px;
       border-radius: 5px;
   }
   
   div.courseadd_searchresultdiv>figure>figcaption>h6 {
       color: #888;
   }
   
   div.courseadd_searchresultdiv div.courseadd_searchmessage {
       font-size: 22px;
       text-align: center;
       width: 100%;
   }
   
   div.courseadd_selectedspot {
       margin: 20px;
   }