.header-menu-bar {
    padding: 0;
    margin: 0;
}

.main-menu-item {
    color: #000000;
    text-decoration: none;
}

.main-menu-item img {
    float: left;
    margin-right: 10px; /* 조절 가능한 마진 값 */
}

.main-menu-item:hover {
    color: #e78e08;
}

.dropdown-item {
    color: #000000;
    text-decoration: none;
}

div.dropdown p:hover {
    color: #e78e08;
}

.signupbtn {
    background-color: #b7a89f;
    color: #ffffff;
    border-radius: 30px;
    padding: 7px 20px;
}

.signupbtn:hover {
    color: #e78e08;
}

.li-menu-bar a:hover {
   color: #e78e08;
}

.header-menu-bar {
    margin-top: 30px;
    background-color: #ffffff;
    height: 50px;
    padding: 5px;
    display: block;
    width: 100%;
    position: relative;
    border-bottom: 1px solid  #d7dadb;
}

.ul-menu-bar {
    float: right;
    margin-right: 0;
}

nav .li-menu-bar {
    display: inline-block;
    padding: 0 10px;
}

.dropdown {
    display: none;
}






