.header-menu-bar {
    padding: 0;
    margin: 0;
}

.main-menu-item {
    color: #000000;
    text-decoration: none;
}

.main-menu-item img {
    float: left;
    margin-right: 10px; /* 조절 가능한 마진 값 */
}

.main-menu-item:hover {
    color: #e78e08;
}


.dropdown-item {
    color: #000000;
    text-decoration: none;
}

div.dropdown p:hover {
    color: #e78e08;
}

.signupbtn {
    background-color: #b7a89f;
    color: #ffffff;
    border-radius: 30px;
    padding: 7px 20px;
}

.signupbtn:hover {
    color: #e78e08;
}

li a:hover {
   color: #e78e08;
}

img {
    float: left;
    width: 200px;
    margin-left: 20px;
    margin-top: 5px;
}

.header-menu-bar {
    margin-top: 30px;
    background-color: #ffffff;
    height: 50px;
    padding: 5px;
    display: block;
    width: 100%;
    position: relative;
}

.header-menu-bar::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #050505;
}

.ul-menu-bar {
    float: right;
    margin-right: 150px;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

.dropdown {
    display: none;
}





