<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jeju.dao.CourseRouteDao">
	<!-- course 삽입과 동시에 그 순서를 추가한다 -->
	<insert id="insertCourseRoute" parameterType="CourseRouteDto">
		insert into course_route (coursecode, tourcode, routeorder, registereddate)
		values (#{coursecode}, #{tourcode}, #{routeorder}, now())
	</insert>
</mapper>
