<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jeju.dao.inquiryboard.dao">
    <insert id="insertInquiry" parameterType="jeju.dto.BoardInquiryDto">
        INSERT INTO board_inquiry (usercode, registereddate, title, content, isprivate)
        VALUES (#{usercode}, NOW(), #{title}, #{content}, #{isprivate})
    </insert>
    <select id="selectPagingOfInquiryCriteria" parameterType="jeju.boardfree_utils.BoardInquiryPagingCriteria"
            resultType="BoardFreeDto">
        select *
        from board_inquiry
        ORDER BY registereddate desc
        LIMIT #{pageStart}, #{perPageNum}
    </select>

    <delete id="deleteInquiry" parameterType="int">
        DELETE FROM board_inquiry WHERE questioncode = #{questioncode}
    </delete>

    <select id="selectAllInquiries" resultType="jeju.dto.BoardInquiryDto">
        SELECT * FROM board_inquiry
    </select>

    <select id="selectInquiryByCode" parameterType="int" resultType="jeju.dto.BoardInquiryDto">
        SELECT * FROM board_inquiry WHERE questioncode = #{questioncode}
    </select>

    <select id="selectUserInquiries" parameterType="int" resultType="jeju.dto.BoardInquiryDto">
        SELECT * FROM board_inquiry WHERE usercode = #{usercode} ORDER BY registereddate DESC
    </select>
</mapper>